@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }

  body {
    @apply bg-mal-gray-light text-mal-dark antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold tracking-tight;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  body {
    background: white !important;
  }

  .print-card {
    box-shadow: none !important;
    border: 1px solid #e5e7eb !important;
  }
}

.print-only {
  display: none;
}
